[user]
  email = evilmonkey@gmail.com
  name = Ryan Shatford
	signingkey = 93967C430D7166708713D55C9E49F0D71700C9E3
[diff]
  tool = nvr
[difftool "nvr"]
  cmd = nvr -s -d $LOCAL $REMOTE
[merge]
  tool = nvr
[mergetool "nvr"]
  cmd = nvr --remote-tab-silent -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
[alias]
  # one-line log
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

  a = add
  ac = !git add . && git commit -am
  ap = add -p
  c = commit --verbose
  ca = commit -a --verbose
  cm = commit -m
  cam = commit -a -m
  m = commit --amend --verbose
  can = commit --amend --no-edit

  p = push
  po = push --set-upstream origin
  pl = pull
  plo = pull origin main
  plom = pull origin master
    
  df = diff
  ds = diff --stat
  dc = diff --cached

  st = stash
  stp = stash pop
  stl = stash list

  s = status -s
  co = checkout
  cb = checkout -b
  br = branch
  # list branches sorted by last modified
  b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

  # list aliases
  la = "!git config -l | grep alias | cut -c 7-"
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
[core]
	editor = nvr --remote-wait-silent
