[user]
	email = ev1lm0nk3y@users.noreply.github.com
	name = Ryan Shatford
[diff]
  tool = less
[difftool "less"]
  cmd = colorize_less
[merge]
  tool = nvim
  ff = only
[mergetool "nvimdiff"]
  layout = "(LOCAL,BASE,REMOTE)/MERGED"
[git]
  lineNumber = true
  column = true
[push]
  autoSetupRemote = true
[alias]
  # one-line log
  l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph

  a = add
  ac = "!git add . && git commit -am"
  ap = add -p

  c = commit --verbose
  ca = commit -a --verbose
  cm = commit -m
  cam = commit -a -m
  m = commit --amend --verbose
  can = commit --amend --no-edit
  cap = "!git commit --amend --no-edit . && git push origin --force"

  p = push
  po = push --set-upstream origin
  pof = "!git commit --amend --no-edit $(git rev-parse --show-toplevel) && git push origin --force"

  pl = pull --ff
  plo = pull --ff origin main
  plom = pull --ff origin master
    
  df = diff
  ds = diff --stat
  dc = diff --cached

  root = rev-parse --show-toplevel

  s = status -s --ignore-submodules
  st = stash
  stp = stash pop
  stl = stash list
  std = stash drop

  co = checkout
  cb = checkout -b
  com = "!git co main && git pl"
  cos = "!git co staging && git pl"
  cod = "!git co develop && git pl"

  br = branch --sort=-creatordate
  # list branches sorted by last modified
  b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

  # list aliases
  la = "!git config -l | grep alias | cut -c 7-"

  # rebase quick commands
  ra = rebase --abort
  rc = rebase --continue
  rs = rebase --skip
  ru = "!git status -s --ignore-submodules | grep -E \"^ [DAU]U \" | awk '{print $2}'"

  # revert and rollback
  rl = reflog
  rb = reset --soft HEAD~1

[pull]
 	rebase = true
  ff = true
[filter "lfs"]
 	required = true
 	clean = git-lfs clean -- %f
 	smudge = git-lfs smudge -- %f
 	process = git-lfs filter-process
[init]
 	defaultBranch = main
[core]
 	editor = nvim
[pager]
  cmd = "!most -d -t2"
[pack]
 	windowMemory = 100m
 	packSizeLimit = 100m
 	threads = 1
 	deltaCacheSize = 512m
[credential "git@github.com"]
  username = ev1lm0nk3y
[credential "https://github.com"]
  username = ev1lm0nk3y

